<mat-drawer-container class="example-container" autosize>
	<mat-drawer #drawer class="example-sidenav" mode="side">
		<div class="menu-items-container">
			<p class="h3"><a mat-button routerLink="/home" (click)="drawer.toggle()">Home</a></p>
			<p class="h3"><a mat-button routerLink="/about" (click)="drawer.toggle()">About</a></p>
			<p class="h3"><a mat-button routerLink="/shop" (click)="drawer.toggle()">Shop</a></p>
			<p class="h3"><a mat-button routerLink="/faq" (click)="drawer.toggle()">FAQ</a></p>
			<p class="h3"><a mat-button routerLink="/contact" (click)="drawer.toggle()">Contact</a></p>
		</div>
	</mat-drawer>
  
	<div class="example-sidenav-content">
		<button type="button" mat-button (click)="drawer.toggle()">
			<mat-icon class="icon-size" aria-hidden="false" aria-label="menu icon" fontIcon="menu"></mat-icon>
		  </button>
	</div>
  </mat-drawer-container>